<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--
            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            <pattern>%-5level %logger{0} - %msg%n</pattern>
            <pattern>%logger{36} %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            -->
            <pattern>%-4relative [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36}:%line %logger{0}:%line -> %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="info" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.apache.ibatis" additivity="false">
        <level value="debug" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.mybatis.spring" additivity="false">
        <level value="info" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.apache" additivity="false">
        <level value="error" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="log4jdbc.log4j2"  additivity="false" >
        <level value="error" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="jdbc.resultset"  additivity="false" >
        <level value="error" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="jdbc.audit"  additivity="false" >
        <level value="error" />
        <appender-ref ref="Console" />
    </logger>


    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.splonly" level="DEBUG" />
    <logger name="jdbc.sqltiming" level="INFO" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.resultsettable" level="INFO" />
    <logger name="jdbc.connection" level="INFO" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
